*{
	padding: 0;
	margin: 0;
	font-family: 'croissant one';
	box-sizing: border-box;
}
body{
  background-color: whitesmoke;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    margin:25px ;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px  10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
}
button {
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    border-radius: 10px;
  }
  
  button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
  .logo{
   
    color: black;
    
    }

  span {
    position: relative;
    margin-right: 20px;
    color: black;
    text-decoration: none;
  }
  
  span::before, span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fc2f70;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  span::before {
    top: 0;
    transform-origin: center right;
  }
  
  span:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }
  
  span::after {
    bottom: 0;
    transform-origin: center left;
  }
  
  span:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
  }
  a{
    text-decoration: none;
  }
  .image-1 img {
    max-width:100%; 
    max-height: 100%;
  }
  
  .image-1 {
    justify-content: center; 
    align-items: center; 
    width: 400px;
    height: 400px;
    margin: left 40px ;
    border-radius:  10px ;
    background-color: none;
  }
  .image-2 img {
    max-width: 100%; 
    max-height: 100%;
  }
  
  .image-2-content{
  
    width: 400px;
    height: 400px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: none;
    margin: top 100px;
  }
  .image-3 img {
    max-width: 100%; 
    max-height: 100%;
  }
  
  .image-3 {

    align-items: center; 
    width: 600px;
    height: 400px;
    margin-top: 0px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: none;
  }
  .image-4 img {
    max-width: 100%; 
    max-height: 100%;
  }
  
  .image-4 {

    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 600px;
    height: 400px;
    margin-left:800px ;
    margin-top: -100px;
    border-radius: 1px;
    background-color: none;
  }
  footer{
    background-color: #b3b3b3 ;
    height: 100x;
    margin-top: 1000PX;
  }
  footer span{
    font-size: 40px;
    margin: 150px;
  }
  .content-1 h1{
    margin-left: 1000px;
    color: #666;
  }
  .content-1 h2{
    margin-left: 180px;
    
  }
  .image-1 p {
font: size 15px;
margin-bottom: 10px;
margin-right: 1%;
  }
  .image-2-content p {
  font: size 20pt;
 
  }
  .image-3-content h1{
    margin-left: 60px;
    margin-top: 150px;
    margin-bottom: 2%;
    text-shadow: #666;
    
  }
  .image-4-content h1{
    margin-left: 1210px;
    margin-top: 50px;
    margin-bottom: 2%;
  }
