*{
	padding: 0;
	margin: 0;
	font-family: 'croissant one';
	box-sizing: border-box;
}
body{
  background-color: whitesmoke;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    margin:25px ;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px  10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    position: relative;
}
button {
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    border-radius: 10px;
  }
  
  button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
  .logo{
   
    color: black;
    
    }

  span {
    position: relative;
    margin-right: 20px;
    color: black;
    text-decoration: none;
  }
  
  span::before, span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fc2f70;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  span::before {
    top: 0;
    transform-origin: center right;
  }
  
  span:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
  }
  
  span::after {
    bottom: 0;
    transform-origin: center left;
  }
  
  span:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
  }
  .image {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #6666;
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-left: 2%;
    border-radius: 20px;
  }
  
  .image img {
    max-width: 100%; /* add some margin between the images */
    max-height: 100%;
    margin-right: 2px;
  }
  .project1 h1,p{
    text-align: center;
  }
  .project1 h1 {
    color: #666;
  }
  .project1 p{
    margin-left: 150px;
  }
  .project2 h1,p{
    margin-top: 10px;
    text-align: center;
  }
  .project2 h1 {
    color: #666;
    margin-top: 100px;
  }
  .project2 H2{
    margin-left: 800px;
    margin-top: 0%;

  }
  .project3 h1,p{
    margin-top: 10px;
    text-align: center;
  }
  .project3 h1 {
    color: #666;
  }
  .project3 h2{
    margin-left: 150px;
  }

 .project1 button,.project2 button,project3 button{
    margin-top: 10px;
    margin-left: 680px
 }
 .image-container{
    display: flex; 
    justify-content: center;
    margin: 0; 
    padding: 0;
 }
 aside{
  float: right;
  margin-right: 100px;
 }
 .image-container-2{
  display: flex; 
  justify-content: center;
  margin: 0; 
  padding: 0;
}
.image-2 img {
  max-width: 100%; 
  max-height: 100%;
  margin: right 0px;
  
}

.image-2 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: #6666;
  width: 400px;
  height: 400px;
  margin: 5px;
  border-radius: 10px;
}
.image-container-3{
  display: flex; 
  justify-content: center;
  margin: 0; 
  padding: 0;
}
.image-3 img {
  max-width: 100%; 
  max-height: 100%;
}

.image-3 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: none;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
}
footer{
  background-color: #b3b3b3 ;
  height: 100px;
}
footer span{
  font-size: 40px;
  margin: 150px;
}